*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 0.5;
}

.nav-link:hover{
    text-decoration: none;
    color: black;
}

.img_logo{
    width: 5rem !important;
}

.navbar-collapse{
    flex-grow: 0;
}

.vh10{
    height: 10vh;
}

.carousel-inner{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: top;
}

.carousel slide{
    position: relative;
    z-index: 1;
}

.socialnet{
    width: 2rem;
    object-fit: cover;
    
}